{{#view "AuthLoginView" class="flexbox"}}
    <form>
        <h4 class="form-titlel">Herzlich Willkommen {{#equals Login.gender "male"}}Herr {{else}}Frau {{/equals}} {{Login.name}},</h4>
        <div class="info-box">
            Schauen Sie sich in unserem Shop um. Dort finden Sie bestimmt etwas für Ihren Geschmack.<br>
            Sie k&ouml;nnen sich jederzeit wieder abmelden. Klicken Sie hierf&uuml;r einfach oben im Men&uuml;<br>
            auf den Button - Abmelden -.  
        </div>
    </form>
{{/view}}