<div class="container-center">
    <div class="wrapper">
        <form>
            <label>Keine Berechtigung</label>
            <div class="form-group fullwidth">
                Sie verfügen nicht über die notwendigen Berechtigungen, um den Administrationsbereich aufzurufen.<br>
                Melden Sie sich einfach mit Ihrem Administratorzugang an.<br><br>
                Sollte hier ein Fehler vorliegen, dann kontaktieren Sie bitte Ihren Systemadministrator.
            </div>
            
            <div class="menu-bar">
                <a href="/" class="btn btn-primary">
                    <span class="text">Zur Startseite</span>
                    <span class="fa fa-caret-right"></span>
                </a>
            </div>
        </form>
    </div>
</div>