{{#need model Article_categories}}

{{#view "AdminArticleCategoriesOverviewView" class="admin-overview"}}
    <div class="flexbox">
        {{#view "AdminArticleCategoriesOverviewSortableView" class="flexrow flexrow-6"}}
            <div class="flexbox">
                {{#div $="setOrderID" init=true click="sortByID" class="flexrow flexrow-1 t-bold f-s16 sortable"}}Kategorie ID{{/div}}
                {{#div $="setOrderName" init=true click="sortByName" class="flexrow flexrow-1 t-bold f-s16 sortable"}}Name{{/div}}
                {{#div $="setOrderSort" init=true click="sortBySort" class="flexrow flexrow-1 t-bold f-s16 sortable"}}Reihenfolge{{/div}}                
                {{#div $="setOrderBookmark" init=true click="sortByBookmark" class="flexrow flexrow-1 t-bold f-s16 sortable"}}URL{{/div}}
            </div>
        {{/view}}

        <div class="flexrow flexrow flexrow-1 flex-end">
            {{#view "AdminArticleCategoriesOverviewSearchView" class="input-search-container"}}
                <div class="input-group">
                    {{{input change="setSearch" enter="search" bindAttr="search" type="text" class="iconable" placeholder="Suchen"}}}
                    {{#div click="search" class="fa-container"}}
                        <span class="fa fa-search"></span>
                        <span class="sr-only">Model Suchen</span>
                    {{/div}}
                </div>

                {{#div $="toggleVisibility" init=true class="search-key-container"}}
                    {{#button click="clearSearch" type="button" class="btn btn-primary"}}
                        <span class="text">{{AdminArticleCategoriesSearch.sentSearch}}</span>
                        <span class="fa fa-remove"></span>
                        <span class="sr-only">Suchbegriff löschen</span>
                    {{/button}}
                {{/div}}
            {{/view}}            
        </div>

        {{#if this}}
            {{#partial admin-table-pagination}}
        {{/if}}
        
        <div class="admin-table">
            {{#if this}}
                {{#each Article_categories}}
                    {{#view "AdminArticleCategoryOverviewView" class="admin-overview-row"}}
                        <div class="flexbox">
                            <div class="flexrow flexrow-1">{{AdminArticleCategory.id}}</div>
                            <div class="flexrow flexrow-1">{{AdminArticleCategory.KeyBeschreibung}}</div>
                            <div class="flexrow flexrow-1">{{AdminArticleCategory.Sort}}</div>
                            <div class="flexrow flexrow-1">{{AdminArticleCategory.parent}}</div>
                            <div class="flexrow flexrow-1 flex-end">
                                <a href="/admin/shopmanagement/category/{{AdminArticleCategory.id}}" class="btn btn-primary">
                                    <span class="text">Bearbeiten</span>
                                    <span class="fa fa-caret-right"></span>
                                    <span class="sr-only">Kategorie bearbeiten</span>
                                    
                                    {{#span $="sending" class="cssload-container"}}
                                        <div class="cssload-speeding-wheel"></div>
                                    {{/span}}
                                </a>
                                {{#button $="disableRemoveCategory" click="removeCategory" type="button" class="btn btn-primary"}}
                                    <span class="text">Entfernen</span>
                                    <span class="fa fa-caret-right"></span>
                                    <span class="sr-only">Kategorie entfernen</span>

                                    {{#span $="sending" class="cssload-container"}}
                                        <div class="cssload-speeding-wheel"></div>
                                    {{/span}}
                                {{/button}}
                            </div>
                        </div>
                    {{/view}}
                {{/each}}
            {{else}}
                <div class="admin-overview-row">
                    <div class="flexbox">
                        <div class="flexrow flexrow-1">Der eingegebene Suchbegriff konnte nicht gefunden werden.</div>
                    </div>
                <div>
            {{/if}}                
            
            {{#view "AdminArticleCategoryAddView" id="admin-article-category-add" class="admin-overview-row"}}
                    <div class="flexbox">
                        <div class="flexrow flexrow-1">(auto)</div>
                        <div class="flexrow flexrow-1">
                            {{{input change="setName" bindAttr="KeyBeschreibung" type="text" placeholder="Kategorie Name"}}}
                        </div>
                        <div class="flexrow flexrow-1">{{{input change="setSort" bindAttr="Sort" type="number" placeholder="Reihenfolge"}}}</div>
                        <div class="flexrow flexrow-1">(auto)</div>
                        <div class="flexrow flexrow-1 flex-end">
                            {{#button $="disableSaveCategoty" click="saveCategory" type="button" class="btn btn-primary"}}
                                <span class="text">Speichern</span>
                                <span class="fa fa-caret-right"></span>
                                {{#span $="sending" class="cssload-container"}}
                                    <div class="cssload-speeding-wheel"></div>
                                {{/span}}
                            {{/button}}
                        </div>
                    </div>
            {{/view}}
        </div>

        {{#if this}}
            {{#partial admin-table-pagination}}
        {{/if}}
    </div>
{{/view}}