<div class="panel panel-default pull-left fullwidth fileupload-big">
    <div class="panel-body">
        <!-- Standar Form -->
        <h4>W&auml;hlen Sie Ihre Bilder</h4>

        <div class="form-group fullwidth">
            <button type="button" class="btn btn-primary">Datei(en) w&auml;hlen</button>
            <input class="file-input" type="file" name="files[]" multiple>
            <button type="button" class="btn btn-primary pull-right">
                <span class="icon glyphicon glyphicon-upload"></span>
                <span class="text">hochladen</span>
            </button>
        </div>

        <!-- Drop Zone -->
        <h4>Oder per Drag & Drop</h4>
        {{#div dragdrop="addFiles" class="upload-drop-zone"}}
             Drag & Drop Bereich
        {{/div}}

        <!-- Progress Bar -->
        {{#div $="showProgress" class="progress no-display"}}
            {{#div $="progressStatus" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"}}
                <span class="sr-only">60% Complete</span>
            {{/div}}
        {{/div}}

        <!-- Upload Finished -->
        {{#div $="afterUpload" class="no-display js-upload-finished"}}
            <h3>Hochgeladene Bilder</h3>
            <div class="list-group"></div>
        {{/div}}
    </div>
</div>
