{{#view "NavigationDividerView" data-plugin="Divider"}}
    <div class="container">
        <h3>Seite nicht gefunden</h3>
        {{#partial product-search-view}}        
    </div>
{{/view}}

<main>
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
            <div class="jumbotron">
                <div class="header">
                    <span class="icon glyphicon glyphicon-info-sign"></span>
                    <h1>Seite nicht gefunden</h1>
                </div>

                <div class="body">
                    Diese Seite existiert nicht oder ist nicht mehr vorhanden<br><br>
                </div>

                <div class="footer">
                    <a class="btn btn-secondary btn-lg" href="/" role="button">
                        <span class="icon glyphicon glyphicon-home"></span>
                        <span class="text">Startseite</span>
                        <span class="sr-only">Startseite</span>
                    </a>
                </div>
            </div>
        </div>
    </div>    
</main>