
html, body {
    width: 100%;
    height: auto;
}

body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

body * {
    box-sizing: border-box;
}

header {
    position: fixed;
    width: 100%;
    height: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: auto;
    background-color: #242422;
    z-index: 9999;
}

main {
    position: absolute;
    width: 100%;
    height: auto;
    padding: 0px;
    z-index: 1000;
    top: 124px;
    text-align: center;
}

main .centered {
    padding: 0px;
    margin: 0px auto;
    width: 800px;
    text-align: center;
}

main .main-content {
    left: 0px;
    display: inline-block;
    right: 0px;
    max-width: 100%;
}

main .main-content .page-content {
    display: block;
    position: relative;
    float: left;
    background-color: rgba(0,0,0,0.37);
    width: 978px;
    max-width: 100%;
    height: 100%;
    
    text-align: left;
    
    -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);    
    -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);    
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);    
    
    min-height: calc(100vh - 124px);
    
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;    
}

.hoz-title {
    text-align: center;
    width: 100%;
    background-color: #44060F;
    color: #FFF;
    line-height: 60px;
    margin: 0px;
}

a {
    color: #000;
    cursor: pointer;
}

a:hover,
a:focus,
a:active {
    font-weight: 700;
    color: #000;
    text-decoration: none;
}

input[type=text],
input[type=number],
input[type=email],
input[type=password] {
    font-size: 16px;
    height: 36px;
    text-indent: 12px;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=password]:focus {
    border: 1px #d3d3d3 solid;
    border-right: none;
    outline: none;
}

.item-container {
    float: left;
    width: 100%;
    position: relative;    
}

.item-container .item-image {
    position: relative;
    float: left;
    width: 217px;
    height: 217px;
    margin-right: 26px;
    background-size: cover;
    background-position: center center;
    border: 1px #90ED49 solid;
    
    -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.67),0px 0px 8px rgba(0,0,0,0.67);
    -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.67),0px 0px 8px rgba(0,0,0,0.67);
    box-shadow: 0px 0px 8px rgba(0,0,0,0.67),0px 0px 8px rgba(0,0,0,0.67);
}

.item-container .item-content {
    position: relative;
    width: 100%;
}

.item-container .item-content h3 {
    margin-top: 3px;
}

.impressum {
    position: absolute;
    bottom: 20px;
    left: 0px;
    right: 0px;
}